* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 35px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 32%;
    padding: 10px;
}

.delcolumn {
    float: left;
    width: 4%;
    padding: 5px;
}

/* Create four equal bold columns that floats next to each other */
.boldcolumn {
    float: left;
    width: 32%;
    padding: 10px;
    font-weight: bold;
    border-bottom: black;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.inputBox {
    padding: 5px;
}