<link href="../style.css" rel="stylesheet">
<div class="header">Add new Contact</div>
<div tpl-include="tpl/menu.html"></div>
<form method="post" action="?cmd=add_item">
    <div>
        <input type="text" name="firstName" class="inputBox" placeholder="Firstname">
    </div>
    <div>
        <input type="text" name="lastName" class="inputBox" placeholder="Lastname">
    </div>
    <div>
        <input type="text" name="phone1" class="inputBox" placeholder="Phone Number 1">
    </div>
    <div>
        <input type="text" name="phone2" class="inputBox" placeholder="Phone Number 2">
    </div>
    <div>
        <input type="text" name="phone3" class="inputBox" placeholder="Phone Number 3">
    </div>
    <input type="submit" name="submitButton" value="Save">
    <div class="footer">Veebitehnoloogia rakendus - Ranel Tasane 2019</div>
</form>
