<ul tpl-if="$todoItems">
    <div class="row">
        <div class="delcolumn"></div>
        <div class="boldcolumn">Firstname</div>
        <div class="boldcolumn">Lastname</div>
        <div class="boldcolumn">Phone numbers</div>
    </div>
    <div tpl-foreach="$todoItems as $todoItem" class="row">
        <form method="post" action="?cmd=delete">
            <div class="delcolumn">
                <input type="hidden" name="id" value="{{ $todoItem->person_id }}" />
                <input type="submit" value="X" />
            </div>
            <div class="column">
                {{ $todoItem->firstname }}
            </div>
            <div class="column">
                {{ $todoItem->lastname }}
            </div>
            <div class="column">
                {{ $todoItem->get_all_phones() }}
            </div>
        </form>
    </div>
</ul>